    <!-- Main Content -->
    <div class="container" id="contact">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ .Content }}
                <form name="sentMessage" id="contactForm" novalidate target="hidden_iframe" onsubmit="submitted_contact_form=true;">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Nom et prénom" id="name" required data-validation-required-message="Complétez votre nom.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="hidden" name="_subject" id="_subject" value="Contact depuis le site">
                            <input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Complétez votre email.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control" placeholder="Téléphone" id="phone" required data-validation-required-message="Complétez votre téléphone.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Message</label>
                            <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Ajoutez un message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <input type="hidden" name="_next" value="answer"/>
                        <div class="form-group col-xs-12">
                          <button type="submit" class="btn btn-default" data-sendemail="{{ .Site.Params.email }}">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
