    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <ul class="list-inline text-center">
                    <li>
                      <a href="mailto:{{ .Site.Params.email }}">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    {{ range .Site.Params.social }}
                    <li>
                      <a href="{{ .url }}">
                        <span class="color-blue fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-{{ .title }} fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    {{ end }}
                  </ul>
                  <p class="copyright text-muted">{{ .Site.Copyright }}</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        var $sub = $("#_subject");
        $("#email").on("input", function() {
          $sub.val("Email depuis le site de " + $(this).val());
        });
      });
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ .Site.BaseURL }}/js/clean-blog.js"></script>
<!-- Cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
  En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies à des fins statistiques. <span id="js-cookie-button" class="btn btn-main btn-solid-border">J'accepte</span>
</div>
<script>
  (function ($) {
    const cookieBox = document.getElementById('js-cookie-box');
    const cookieButton = document.getElementById('js-cookie-button');
    if (!Cookies.get('cookie-box')) {
      cookieBox.classList.remove('cookie-box-hide');
      cookieButton.onclick = function () {
        Cookies.set('cookie-box', true, {
          expires: {{ site.Params.cookies.expire_days }}
        });
        cookieBox.classList.add('cookie-box-hide');
      };
    }
  })(jQuery);
</script>

<!-- Cookie style -->
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
  padding: 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
{{ end }}
</body>

</html>
