.img-center {
  margin: 0 auto;
}

.navbar-default {
  background-color: #0c769d;
  border-color: #0c769d;
}

.navbar-default .navbar-brand:hover {
    color: #0c769d;
    background-color: #ffffff;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-default .navbar-right>li>a:hover {
  color: #0c769d;
  background-color: #ffffff;
}

a:link {
  color: #0c769d;
}

table {
  border-spacing: 10px;
  border-collapse: separate;
}
