.img-center {
  margin: 0 auto;
}

.navbar-default {
  background-color: #0c769d;
  border-color: #0c769d;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

a:link {
  color: #0c769d;
}

